<configuration scan="true">
    <property resource="application.properties"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="spring" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/x/hystrix/spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${catalina.home:-.}/logs/x/hystrix/spring.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/x/hystrix/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home:-.}/logs/x/archive/hystrix/all.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/x/hystrix/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home:-.}/logs/x/archive/hystrix/app.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="orm" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/x/hystrix/orm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home:-.}/logs/x/archive/hystrix/orm.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.springframework" level="warn" additivity="false">
        <appender-ref ref="spring"/>
    </logger>



    <logger name="com.coviam.hystrix" level="INFO" additivity="false">
        <appender-ref ref="app"/>
    </logger>

    <logger name="org.hibernate" level="warn" additivity="false">
        <appender-ref ref="orm"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="app"/>
        <appender-ref ref="all"/>
    </root>

</configuration>
